@tailwind base;

*,
*::before,
*::after {
  @apply text-white;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  @apply min-h-screen p-4 md:px-14;
  background-color: #141414;
}

h1,
h2,
h3 {
  @apply font-bold;
}

h2 {
  font-size: 1.1875rem;
}

p {
  @apply md:text-2xl;
}

img {
  @apply rounded;
}

@tailwind components;
@tailwind utilities;
