@tailwind base;

*,
*::before,
*::after {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

body {
  background-color: #181818;
  min-height: 100vh;
  padding: 1rem;
  @apply md:px-14;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.1875rem;
}

p {
  @apply md:text-2xl;
}

@tailwind components;
@tailwind utilities;
