@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  @apply text-white;
  font-family: 'Netflix Sans', Inter, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

body,
/* Used id here to colocate the paddings */
#banner {
  @apply px-4 md:px-14;
}

body {
  @apply min-h-screen pb-4;
  background-color: #141414;
}

h1,
h2,
h3 {
  @apply font-bold;
}

h2 {
  font-size: 1.1875rem;
}

p {
  @apply md:text-[22px];
}

img {
  @apply rounded;
}

@tailwind components;
@tailwind utilities;
